.history{
  background-color: #003346;
}
.science{
  background-color: #0C3700;
}
.culture{
  background-color: #4D0102;
}
.geography{
  background-color: #000229;
}
.entretainment{
  background-color: #580041;
}
.back-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  border: 2px solid #999;
  padding: 7.5px;
  border-radius: 100%;
  animation: backBtn 1s;
  transition: background .4s;
}

.back-btn:hover {
  background-color: #333;
}

@keyframes backBtn {
  from {
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
}

.back-icon {
  font-size: 1.5em;
  color: #f5f5f5;
}
.category {
  text-align: center;
  padding-bottom: 30px;

}
.category-tittle {
    font-size: 32px;
    padding-bottom: 10px;
}

.level-dificulty{
    font-size: 24px;
}

#progress-container{
    display: flex;
    justify-content: center;
}

body {
  height: 100%;
  margin: 0;
}


.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: grey;
  margin: 20px;
}

.timer {
    width: 100px;
    height: 100px;
    border: 5px solid rgb(14, 187, 14); 
    border-radius: 50%;
    background-color: white;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: bold;
    padding: 5px; 
    box-sizing: border-box; 
    margin-top: 20px; /
}

.correct{
background-color: greenyellow;
}

.incorrect{
background-color: red;
}

.question {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.answer {
    display: block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: #333333;
  background-color: #BFBFBF;
  font-weight: bold;
  padding: 10px;
}

.action-button {
    display: flex; 
    justify-content: center;
    gap: 10px; 
    padding:30px 0px;
    width: 100%;
}

.action-button button {
    align-items: center;
    justify-content: center;
    width: 145px;
    padding: 10px;
    border: none;
    border-radius: 10px; 
    font-size: 16px; 
}

.explanation{
    color: black;
    background-color: #C8BE00;
    font-weight: bold;
}
#next-question{
    color: black;
    background-color: #00B759;
    font-weight: bold;
}

#progress-bar{
  height: 30px;
  width: 90%;
  background-color: grey;
  border-radius: 25px
}

#progress{
  background-color: green;
  height: 30px;
  width: 0;
  border-radius: 25px;
  transition: width 0.5s  ease-in-out; 
}

.explain-menu{
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  display: none;
  transform: translate(-50%, -50%);
  background-color: #DCC600;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
  transition: opacity 0.1s ease;
}

.show{
  display: block;
  opacity: 100%;
}

.h2-explain{

}
.text-explain{

}
.buttons{
  display: flex;
  gap: 10px;
  font-size: 20px;
}
#quit-explain{
  padding: 10px;
  border: none;
  border-radius: 10px;
}
#next-question{
  padding: 10px;
  border: none;
  border-radius: 10px;

}

@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1440px) {
}