body {
  background-color: var(--bg-color);
  opacity: 0;
  transition: all 0.4s;
}

.appear-body {
  opacity: 1;
}

main {
  padding: 40px 20px 20px;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.hide-main {
  opacity: 0;
}

.message-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 400%);
  padding: 30px;
  display: flex;
  background-color: #50025f;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.4s;
  width: 80%;
  max-width: 600px;
}

.show-menu {
  transform: translate(-50%, -50%);
}
.h2-finish {
  text-align: center;
}

.btns-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.btn-finish {
  background-color: #9439a8;
  border: none;
  border-radius: 10px;
  padding: 10px;
  max-width: fit-content;
  font-weight: bold;
  font-size: 0.75em;
  color: var(--text-color);
  transition: background 0.4s;
}
.history {
  background-color: #003346;
}
.science {
  background-color: #0c3700;
}
.culture {
  background-color: #4d0102;
}
.geography {
  background-color: #000229;
}
.entretainment {
  background-color: #580041;
}

@keyframes backBtn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.back-icon {
  font-size: 1.5em;
  color: #f5f5f5;
}
.category {
  text-align: center;
  padding-bottom: 15px;
}
.category-tittle {
  font-size: 32px;
  padding-bottom: 10px;
}
.level-dificulty {
  font-size: 24px;
}
body {
  height: 100%;
  margin: 0;
}
.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: grey;
  margin: 20px;
  padding: 0 20px;
  max-width: fit-content;
}
.timer {
  padding: 30px;
  border: 5px solid rgb(14, 187, 14);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  box-sizing: border-box;
  margin-top: 20px;
}
.question {
  font-size: 1.25em;
  margin-top: 20px;
  margin-bottom: 20px;
}
.question-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.answer {
  display: block;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: #333333;
  background-color: #eee;
  font-weight: bold;
  padding: 10px;
  transition: all 0.4s;
}
.correct {
  background-color: #04ff00;
}
.incorrect {
  background-color: #ff0000;
}
.action-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0px;
  width: 100%;
}
.action-button button {
  align-items: center;
  justify-content: center;
  width: 145px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}
.explanation {
  color: #222;
  background-color: #fff541;
  font-weight: bold;
  transition: all 0.4s;
  cursor: pointer;
}
#progress-bar {
  height: 30px;
  width: 90%;
  background-color: grey;
  border-radius: 25px;
  transition: all 0.5s;
  clip-path: inset(0 0 0 0);
  position: relative;
}
.fullscreen {
  width: 100%;
  height: 100vh;
  clip-path: inset(70.7% at 50% 50%);
}
.progress-icon {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s;
  color: #fff;
}
.check-icon-appear {
  opacity: 1;
}
#progress {
  background-color: green;
  height: 30px;
  width: 0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
.explain-menu {
  position: fixed;
  background-color: #d3d337;
  display: none;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #222;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
  width: 80%;
  max-width: 500px;
  transition: all 0.4s;
  font-weight: 600;
}
.show {
  opacity: 1;
}
.apply-blur {
  filter: blur(5px);
}
.h2-explain {
  padding-top: 10px;
  color: #333;
}
.text-explain {
  text-align: center;
}
.buttons {
  display: flex;
  gap: 10px;
}
#quit-explain {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 1.5em;
}
.icon-quit {
  color: #555;
  transition: all 0.4s;
}
#next-question {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #00b759;
  color: #222;
  font-weight: bold;
  transition: all 0.4s;
  cursor: pointer;
}
.change-bg {
  background-color: var(--bg-color);
}
.hide-back-btn {
  opacity: 0;
}
.hide-menu {
  opacity: 0;
}
.user-ask-container {
  position: fixed;
  display: flex;
  background-color: #330769;
  color: white;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #222;
  border-radius: 10px;
  padding: 40px 70px 30px;
  gap: 30px;
  max-width: 860px;
  min-width: 370px;
  transition: all 0.4s;
}
.ask-question {
  color: white;
  font-size: 1.25em;
}
.ask-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ask-cancel,
.ask-accept {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49.8%;
  padding: 15px 0;
  background-color: #270550;
  border-radius: 10px;
  transition: background-color 0.1s ease-in;
}
.ask-cancel:hover,
.ask-accept:hover {
  background-color: #2f0760;
}
@media (min-width: 1024px) {
  .content-box {
    max-width: none;
    width: 90%;
  }
  .question-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
  .answer {
    width: 49%;
    overflow: hidden;
  }
  .back-btn:hover {
    background-color: #5d5d5d;
  }
  .answer:hover {
    background-color: #b2b2b2;
  }
  .explanation:hover {
    background-color: #d6c52d;
  }
  .icon-quit:hover {
    color: #222;
  }
  .btn-finish:hover {
    background-color: #742985;
  }
  #next-question:hover {
    background-color: #039d4e;
  }
}
