body {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: center;
}
.h1-home {
    font-size: 1.5em;
}
.h2-home {
    color: #ffffff70;
}
.home-button {
    background-color: #0AD506;
    border: none;
    border-radius: 10px;
    padding: 10px;
    max-width: fit-content;
    transition: all .4s;
    font-weight: bold;
}
.home-button:hover{
    background-color: #0ca80a;
}
.select-category {
}
.h2-category {
}
.ul-category {
}
.btn-category {
}
.icon-category {
}
.science-btn {
}
.history-btn {
}
.geography-btn {
}
.entretainment-btn {
}
.art-btn {
}
.easy-btn {
}
.medium-btn {
}
.difficult-btn {
}
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #00000060;
}
.copyright {
    padding: 15px;
    font-weight: 500;
}

@media (min-width: 768px) {
  body {
  }
  main {
  }
  .h1-home {
  }
  .h2-home {
  }
  .home-button {
  }
  .select-category {
  }
  .h2-category {
  }
  .ul-category {
  }
  .btn-category {
  }
  .icon-category {
  }
  .science-btn {
  }
  .history-btn {
  }
  .geography-btn {
  }
  .entretainment-btn {
  }
  .art-btn {
  }
  .easy-btn {
  }
  .medium-btn {
  }
  .difficult-btn {
  }
  footer {
  }
  .copyright {
  }
}

@media (min-width: 1024px) {
  body {
  }
  main {
  }
  .h1-home {
  }
  .h2-home {
  }
  .home-button {
  }
  .select-category {
  }
  .h2-category {
  }
  .ul-category {
  }
  .btn-category {
  }
  .icon-category {
  }
  .science-btn {
  }
  .history-btn {
  }
  .geography-btn {
  }
  .entretainment-btn {
  }
  .art-btn {
  }
  .easy-btn {
  }
  .medium-btn {
  }
  .difficult-btn {
  }
  footer {
  }
  .copyright {
  }
}

@media (min-width: 1440px) {
  body {
  }
  main {
  }
  .h1-home {
  }
  .h2-home {
  }
  .home-button {
  }
  .select-category {
  }
  .h2-category {
  }
  .ul-category {
  }
  .btn-category {
  }
  .icon-category {
  }
  .science-btn {
  }
  .history-btn {
  }
  .geography-btn {
  }
  .entretainment-btn {
  }
  .art-btn {
  }
  .easy-btn {
  }
  .medium-btn {
  }
  .difficult-btn {
  }
  footer {
  }
  .copyright {
  }
}
