body {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #f5f5f5;
  transition: opacity 0.4s;
  animation: preload 1s;
}
.transition-page {
  opacity: 0;
}
@keyframes preload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  align-items: center;
  transition: filter 0.5s;
}
.h1-home {
  font-size: 1.65em;
  text-align: center;
}
.h2-home {
  color: #ffffff70;
  font-size: 1.25em;
  text-align: center;
}
.home-button {
  background-color: #088417;
  border: none;
  border-radius: 10px;
  padding: 10px;
  max-width: fit-content;
  transition: all 0.4s;
  font-weight: bold;
  font-size: 1em;
  color: var(--text-color);
  margin-top: 10px;
}

.select-category {
  border-radius: 10px;
  padding: 40px 15px;
  position: fixed;
  top: 50%;
  transform: translateY(400%);
  background-color: #330769;
  margin: 10px;
  max-width: 400px;
  z-index: 2;
  transition: transform 0.4s 0.2s;
  opacity: 0;
}
.selecter-show {
  transform: translateY(-50%);
  opacity: 1;
}
.apply-blur {
  filter: blur(10px);
}
.selecter-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transition: all 0.4s 2s;
}

.category-selecter {
  animation: appearDifficult 1s;
}
.selecter-content-show {
  opacity: 1;
}
#quit-btn,
#exit-btn,
#quit-user-menu {
  position: fixed;
  right: 5px;
  top: 5px;
  border: none;
  background-color: transparent;
  font-size: 16px;
}
.quit-icon {
  font-size: 2em;
  color: #ffffff90;
  transition: all 0.4s;
}

.h2-category {
  margin-top: 15px;
}
.ul-category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 5px;
}
.btn-category {
  padding: 10px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 0.875em;
  transition: all 0.4s;
  color: var(--text-color);
}
.science-btn {
  background-color: #28a506;
}

.history-btn {
  background-color: #067ba5;
}

.geography-btn {
  background-color: #2006a5;
}

.entretainment-btn {
  background-color: #a605af;
}

.art-btn {
  background-color: #d3080b;
}

.easy-btn {
  background-color: #01b66e;
}

.medium-btn {
  background-color: #ba8b00;
}

.difficult-btn {
  background-color: #d91b1e;
}
.back-btn {
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.back-icon {
  font-size: 2em;
  transition: all 0.4s;
  color: #ffffff90;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #00000060;
}
.copyright {
  padding: 15px;
  font-weight: 500;
}

.alert-menu {
  position: fixed;
  bottom: 25px;
  right: 15px;
  background-color: #330769;
  padding: 10px;
  border-radius: 10px;
  animation: alertMenu 3s;
}

@keyframes alertMenu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appearDifficult {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.input-name {
  color: #f5f5f5;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ffffff60;
  padding: 10px;
  width: 100%;
  background-color: #270156;
}

.btn-submit-name {
  background-color: #088417;
  cursor: pointer;
}

@media (min-width: 768px) {
  .select-category {
    padding: 30px;
    max-width: 500px;
  }
  .difficult-menu {
    padding: 40px;
  }
}

@media (min-width: 1024px) {
  .home-button:hover {
    background-color: #025a0d;
  }
  .quit-icon:hover {
    color: #fff;
  }
  .science-btn:hover {
    background-color: #1d8500;
  }
  .history-btn:hover {
    background-color: #015979;
  }
  .geography-btn:hover {
    background-color: #160371;
  }
  .entretainment-btn:hover {
    background-color: #700176;
  }
  .art-btn:hover {
    background-color: #9a0508;
  }
  .btn-submit-name:hover {
    background-color: #025a0d;
  }
  .back-icon:hover {
    color: #fff;
  }
  .difficult-btn:hover {
    background-color: #a40003;
  }
  .medium-btn:hover {
    background-color: #836303;
  }
  .easy-btn:hover {
    background-color: #068653;
  }
}
