body {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: opacity .5s;
  color: #f5f5f5;
}
.transition-page{
    opacity: 0;
}
main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  align-items: center;
  transition: filter 0.5s;
}
.h1-home {
  font-size: 1.65em;
}
.h2-home {
  color: #ffffff70;
  font-size: 1.25em;
}
.home-button {
  background-color: #0ad506;
  border: none;
  border-radius: 10px;
  padding: 10px;
  max-width: fit-content;
  transition: all 0.4s;
  font-weight: bold;
  font-size: 1.15em;
  color: var(--text-color);
  margin-top: 10px;
}
.home-button:hover {
  background-color: #0ca80a;
}
.select-category {
  border-radius: 10px;
  padding: 40px 15px;
  position: fixed;
  top: 50%;
  transform: translateY(400%);
  background-color: #330769;
  margin: 10px;
  max-width: 450px;
  z-index: 2;
  transition: all 0.4s 0.2s;
  opacity: 0;
}
.selecter-show {
  transform: translateY(-50%);
  opacity: 1;
}
.apply-blur {
  filter: blur(10px);
}
.selecter-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  opacity: 0;
  transition: all 0.4s 2s;
}
.selecter-content-show {
  opacity: 1;
}
#quit-btn,
#exit-btn {
  position: fixed;
  right: 10px;
  top: 10px;
  border: none;
  background-color: transparent;
}
.quit-icon {
  font-size: 2em;
  color: #ffffff90;
  transition: all 0.4s;
}
.quit-icon:hover {
  color: #fff;
}
.h2-category {
}
.ul-category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 5px;
}
.btn-category {
  padding: 10px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 0.875em;
  transition: all 0.4s;
  color: var(--text-color);
}
.icon-category {
}
.science-btn {
  background-color: #28a506;
}
.science-btn:hover {
  background-color: #1d8500;
}
.history-btn {
  background-color: #067ba5;
}
.history-btn:hover {
  background-color: #015979;
}
.geography-btn {
  background-color: #2006a5;
}
.geography-btn:hover {
  background-color: #160371;
}
.entretainment-btn {
  background-color: #a605af;
}
.entretainment-btn:hover {
  background-color: #700176;
}
.art-btn {
  background-color: #d3080b;
}
.art-btn:hover {
  background-color: #9a0508;
}
.easy-btn {
  background-color: #01b66e;
}
.easy-btn:hover {
  background-color: #068653;
}
.medium-btn {
  background-color: #ba8b00;
}
.medium-btn:hover {
  background-color: #836303;
}
.difficult-btn {
  background-color: #d91b1e;
}
.difficult-btn:hover {
  background-color: #a40003;
}
.back-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
}
.h2-margin{
    margin-top: 10px;
}
.back-icon {
  font-size: 2em;
  transition: all 0.4s;
  color: #ffffff90;
}
.back-icon:hover {
  color: #fff;
}
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #00000060;
}
.copyright {
  padding: 15px;
  font-weight: 500;
}

@media (min-width: 768px) {
  body {
  }
  main {
  }
  .h1-home {
  }
  .h2-home {
  }
  .home-button {
  }
  .select-category {
  }
  .h2-category {
  }
  .ul-category {
  }
  .btn-category {
  }
  .icon-category {
  }
  .science-btn {
  }
  .history-btn {
  }
  .geography-btn {
  }
  .entretainment-btn {
  }
  .art-btn {
  }
  .easy-btn {
  }
  .medium-btn {
  }
  .difficult-btn {
  }
  footer {
  }
  .copyright {
  }
}

@media (min-width: 1024px) {
  body {
  }
  main {
  }
  .h1-home {
  }
  .h2-home {
  }
  .home-button {
  }
  .select-category {
  }
  .h2-category {
  }
  .ul-category {
  }
  .btn-category {
  }
  .icon-category {
  }
  .science-btn {
  }
  .history-btn {
  }
  .geography-btn {
  }
  .entretainment-btn {
  }
  .art-btn {
  }
  .easy-btn {
  }
  .medium-btn {
  }
  .difficult-btn {
  }
  footer {
  }
  .copyright {
  }
}

@media (min-width: 1440px) {
  body {
  }
  main {
  }
  .h1-home {
  }
  .h2-home {
  }
  .home-button {
  }
  .select-category {
  }
  .h2-category {
  }
  .ul-category {
  }
  .btn-category {
  }
  .icon-category {
  }
  .science-btn {
  }
  .history-btn {
  }
  .geography-btn {
  }
  .entretainment-btn {
  }
  .art-btn {
  }
  .easy-btn {
  }
  .medium-btn {
  }
  .difficult-btn {
  }
  footer {
  }
  .copyright {
  }
}
