body {
  background-color: var(--bg-color);
  opacity: 0;
  transition: opacity 0.4s;
}
.appear-body {
  opacity: 1;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
}
.leaderboard-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 12px 10px;
  border-radius: 100%;
  background-color: var(--form-bg);
  display: flex;
  transition: all 0.4s;
}
.leaderboard-icon {
  font-size: 1.25em;
}
.general-data {
  background-color: #2b0659;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
}
.buttons-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  width: 100%;
}
.btn-data {
  padding: 10px;
  font-size: 0.875em;
  font-weight: 550;
  border-radius: 10px;
  background-color: #4b227e;
  cursor: pointer;
  transition: background-color 0.4s;
}
#delete {
  background-color: #ff0000;
}
.alert-menu {
  opacity: 0;
  transition: opacity 0.4s;
}
.alert-menu-transition {
  opacity: 1;
}
.data-div {
  display: flex;
  gap: 5px;
}
.data-title {
  font-weight: 600;
}
.data-span {
}
.category-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.category-container {
  display: grid;
  gap: 20px;
  justify-content: center;
}
.category-div {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-name {
  font-size: 1.5em;
  font-weight: 600;
  color: white;
}

@media (min-width: 768px) {
  .general-data {
    width: auto;
  }
  .category-data {
    width: 60%;
    margin: 0 auto;
  }
  main {
    gap: 0;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .leaderboard-btn:hover {
    background-color: #48138a;
  }
  .btn-data:hover {
    background-color: #6a34b3;
  }
  #delete:hover {
    background-color: #e51c1c;
  }
}
