body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: #f5f5f5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  min-height: 100vh;
  gap: 30px;
  transition: opacity 0.8s;
}

.show-body {
  opacity: 1;
}

.hide-body {
  opacity: 0;
}

main {
  width: 90%;
  max-width: 800px;
  background: #330769;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leaderboard-title {
  margin-bottom: 15px;
  font-size: 1.75em;
}

.podium {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
  align-items: flex-end;
}

.podium-spot {
  border: 1px solid #bc84ff;
  border-radius: 10px 10px 0px 0px;
  background-color: #5202b4;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 25px;
  border-bottom: none;
}

.container-spot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

#first .podium-spot {
  height: 120px;
}

#second .podium-spot {
  height: 100px;
}

#third .podium-spot {
  height: 80px;
}

.podium-score {
  position: absolute;
  font-weight: 600;
  bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
table th:first-child {
  border-radius: 10px 0 0 0;
}
table th:last-child {
  border-radius: 0 10px 0 0;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #bc84ff;
}

table th {
  background-color: #7b3cc9;
}

.actions {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #7542d3;
  color: #fff;
  cursor: pointer;
  transition: all .4s;
}
tbody {
  width: fit-content;
  background-color: #401771;
}
tbody td,
.podium-name {
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .actions button:hover {
    background-color: #6731cb;
  }
}
@media (min-width: 1440px) {
}
