@media (min-width: 768px){

}
@media (min-width: 1024px){
    
}
@media (min-width: 1440px){
    
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: #330769;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
}

.container {
    width: 80%;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.podium{
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    align-items: flex-end;
}

.podium-spot{
    border: solid 1px;
    border-radius: 10px 10px 0px 0px;
    background-color: #330769;
    color: #fff;
    width: 100px;
    position: relative;
}

#first .podium-spot{
    height: 120px;
}

#second .podium-spot{
    height: 100px;
}

#third .podium-spot{
    height: 90px;
}

.podium-score{
    position: absolute;
    right: px;
    bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #330769;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #0AD506;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0ca80a;
}
