body {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: center;
}

.results-container {
    background-color: #330769;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #fff;
}

.performance-breakdown p {
    margin: 10px 0;
}

#correct-answers-summary {
    text-align: left;
    margin-top: 20px;
}

.actions {
    margin-top: 20px;
}

.actions button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #0AD506;
    color: #fff;
    cursor: pointer;
}

.actions button:hover {
    background-color: #0ca80a;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #00000060;
}

.copyright {
    padding: 15px;
    font-weight: 500;
}

@media (min-width: 768px){

}
@media (min-width: 1024px){
    
}
@media (min-width: 1440px){
    
}