body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  opacity: 0;
  transition: opacity 0.4s;
}
.show-body {
  opacity: 1;
}
main {
  background-color: #330769;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  width: 100%;
}
.progress-result {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #b8acac;
  border-radius: 10px;
  overflow: hidden;
}
.progress-bar-result {
  width: 0;
  height: 100%;
  background-color: #d75353;
  transition: all 3s;
}
@keyframes progress-bar {
  0% {
    background-color: #d75353;
  }
  50% {
    background-color: #ead21b;
  }
  100% {
    background-color: #1bea3a;
  }
}
.correct-incorrect-skip {
  display: flex;
  gap: 10px;
}
.correct-incorrect-skip h5 {
  padding: 10px;
  border-radius: 10px;
  color: #111;
  font-size: 0.75em;
}
.correct-count {
  background-color: #41ce56;
}
.incorrect-count {
  background-color: #ec3434;
}
.skip-count {
  background-color: #f6db13;
}
.question-answer-explain-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.question-answer-explain {
  border-radius: 10px;
}
.header-content {
  background-color: #7d35d6;
  border-radius: 10px 10px 0 0;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.question-title {
  font-size: 1em;
}
.main-content {
  background-color: #5d22a6;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}
.question-text {
  font-size: 0.875em;
}
.btns-back-next {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.return-btn,
.next-btn {
  border: none;
  border-radius: 10px;
  color: #222;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.4s;
}
.return-btn {
  background-color: #fde64a;
}
.next-btn {
  background-color: #1bea3a;
}
.redirect-pages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.redirect-btn {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: #5d22a6;
  color: #f5f5f5;
  font-weight: bold;
  transition: background 0.4s;
}
.hide-body {
  opacity: 0;
}
.select-category {
  border-radius: 10px;
  padding: 40px 15px;
  position: fixed;
  top: 50%;
  transform: translateY(500%);
  background-color: #330769;
  margin: 10px;
  max-width: 400px;
  z-index: 2;
  transition: transform 0.4s 0.2s;
  opacity: 0;
}
.selecter-show {
  transform: translateY(-50%);
  opacity: 1;
}
.apply-blur {
  filter: blur(10px);
}
.selecter-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transition: all 0.4s 2s;
}

.category-selecter {
  animation: appearDifficult 1s;
}
.selecter-content-show {
  opacity: 1;
}

#quit-btn,
#exit-btn,
#quit-user-menu {
  position: fixed;
  right: 5px;
  top: 5px;
  border: none;
  background-color: transparent;
  font-size: 16px;
}
.quit-icon {
  font-size: 2em;
  color: #ffffff90;
  transition: all 0.4s;
}

.h2-category {
  margin-top: 15px;
}
.ul-category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 5px;
}
.btn-category {
  padding: 10px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 0.875em;
  transition: all 0.4s;
  color: var(--text-color);
}

.easy-btn {
  background-color: #01b66e;
}

.medium-btn {
  background-color: #ba8b00;
}

.difficult-btn {
  background-color: #d91b1e;
}
.back-button {
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.back-button i {
  font-size: 2em;
  transition: all 0.4s;
  color: #ffffff90;
}
@keyframes alertMenu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appearDifficult {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  body {
    min-height: 100vh;
  }
  main {
    margin: 0 25px;
  }
  .correct-incorrect-skip {
    margin: 10px 0;
  }
  .question-answer-explain-container {
    flex-direction: row;
  }
  .question-answer-explain {
    width: 33.3%;
  }
  .header-content {
    max-height: 30%;
  }
  .question-title {
    padding: 10px;
  }
  .main-content {
    min-height: 70%;
  }
  .redirect-pages {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .redirect-btn {
    width: 25%;
  }
  .select-category {
    padding: 30px;
    max-width: 500px;
  }
  .difficult-menu {
    padding: 40px;
  }
}
@media (min-width: 1024px) {
  main {
    margin: 0 100px;
  }
  .question-answer-explain-container {
    flex-direction: row;
  }
  .return-btn:hover {
    background-color: #d6be24;
  }
  .next-btn:hover {
    background-color: #21c034;
  }
  .redirect-btn:hover {
    background-color: #7d35d6;
  }
  .home-button:hover {
    background-color: #025a0d;
  }
  .quit-icon:hover {
    color: #fff;
  }
  .btn-submit-name:hover {
    background-color: #025a0d;
  }
  .back-icon:hover {
    color: #fff;
  }
}
