body {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: center;
}

.results-container {
    background-color: #330769;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    text-align: center;
    overflow-y: auto;
    max-height: 80vh;
}

h1, h2{
    color: #fff;
    margin-bottom: 20px;
}

.score-summary {
    margin-bottom: 30px;
}

.performance-breakdown{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
}

.performance-breakdown div {
    padding: 10px;
    border-radius: 5px;
    width: 30%;
}

.correct{
    background-color: #33EF2D ;
}

.incorrect{
    background-color: #F43F2D;
}

.skipped{
    background-color: #FCC413;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 20px;
    table-layout: fixed;
}

.results-table th, .results-table td {
    padding: 12px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
}

.results-table th {
    background-color: #7542D3;
    color: #fff;
}

.results-table tr:nth-child(even) {
    background-color: #9270D1;
}

.actions {
    margin-top: 30px;
}

.actions button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #7542D3;
    color: #fff;
    cursor: pointer;
}

.actions button:hover {
    background-color: #0ca80a;
}

a{
    color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #00000060;
    color: #fff;
}


@media (min-width: 768px){

}
@media (min-width: 1024px){
    
}
@media (min-width: 1440px){
    
}